body {
  display: flex;  
  padding: 0 0.4em;
  background-color: rgb(235, 235, 235);
  color: #444;
  font-size: 14px;
}

button {
  display: flex;
  align-items: center;
  background-color: #cc7402;
  color: #fff;
  justify-content: center;
  border: none;
  border-bottom: 2px solid #a05b00;
  padding: 0.8em 0.6em;
  margin: 1em 0;
  transition: background-color 0.1s ease;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0 0 3px #a55d00;
}

button:hover {
  background-color: #b46600;
  text-decoration: underline;
}

input[type="checkbox"] {
  height: 1.3em;
  width: 1.3em;
}
